* {
  font-family: "Helvetica", "sans-serif", "Segoe UI", Tahoma, Geneva, Verdana;
  margin: 0;
}

body {
  background-repeat: no-repeat;
  background-size: auto;
  font-family: Montserrat, sans-serif;
}

navbar {
  background-color: transparent;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: space-around;
}

navbar .logo {
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  margin-top: 1.2rem;
}

.links div {
  padding-top: 0.5rem;
}

.links a {
  text-decoration: none;
  color: aliceblue;
  padding: 0.25rem 0.75rem 0rem 4.75rem;
}

.links {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: aliceblue !important;
}

.links::after {
  color: aliceblue;
}

.content {
  display: flex;
  justify-content: space-around;
}

.left {
  display: flex;
  line-height: 1;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.texts {
  font-size: 3rem;
  margin: 14rem 2rem;
  color: #ffffff;
}

.textb {
  font-size: 24px;
  font-weight: 100;
  font-style: normal;
  margin: 2.5rem 0rem;
}

.section2 .textingarea {
  font-weight: 400;
  font-size: 22px;
  margin: 8rem 4.8rem 0rem 4.8rem;
}

button {
  padding: 0.6rem 1.4rem;
  font-size: 20px;
  background-color: rgba(201, 163, 114, 255);
  border-radius: 2rem;
  color: aliceblue;
}

.footbut {
  background-color: white;
  border-radius: 2rem;
  color: black;
  margin: 0rem 0rem 5rem 4.5rem;
}

.buttonsec2 button {
  background-color: white;
  border-radius: 2rem;
  color: black;
  margin: 0rem 1rem 0rem 0rem;
}

button:hover {
  cursor: pointer;
}

.section4 div {
  display: flex;
  justify-content: space-around;
  margin: 2.5rem 0rem 2.5rem 0rem;
}

.section4 div img {
  height: 100%;
  width: 98%;
  border-radius: 2rem;
  transition: all 0.5s ease;
}

.section4 .banners .box1,
.section4 .banners .box2,
.section4 .banners .box3 {
  transition: all 0.5s ease;
}

.section4 .banners .box1:hover,
.section4 .banners .box2:hover,
.section4 .banners .box3:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.section5 .process video {
  width: 98vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.textvid {
  color: black;
  margin: 3rem 4.5rem;
  font-weight: 600;
  font-size: 2.5rem;
}

.section8 {
  background-image: url(images/bgFooter.png);
  background-repeat: no-repeat;
  display: flex;
  margin: 3rem 3rem 0rem 3rem;
  flex-direction: column;
  align-items: center;
}

.footerheading {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
}

.right3 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footright {
  margin-left: 0.8rem;
}

.socials a img {
  margin: 0.8rem;
  color: #000;
  height: 25px;
  width: 25px;
}

footer .end {
  background: #000;
  width: 100%;
  margin-top: 2rem;
  padding: 3rem;
}
